.todos {
    &__create-input {
        margin: 0 auto 5px;
        width: 300px;
    }

    &__create-button {
        display: block;
        margin: 0 auto 20px;
    }

    &__task {
        &--completed {
            text-decoration: line-through;
        }
    }

    &__update-input {
        margin: 0 auto;
        width: 300px;
    }
}

th, td {
    font-size: 20px;
    text-align: center;
}
